---
const INDICATIONS = {
    APIO: {
        name: "apio",
        img: "/public/apio.svg"
    },
    FRUTOS_SECOS: {
        name: "frutos secos",
        img: "/public/frutos-secos-cascara.svg"
    },
    PESCADO: {
        name: "pescado",
        img: "/public/pescado.svg"
    },
    CRUSTACEOS: {
        name: "pescado",
        img: "/public/crustaceos.svg"
    },
    MOLUSCOS: {
        name: "moluscos",
        img: "/public/moluscos.svg"
    },
    LACTEOS: {
        name: "lacteos",
        img: "/public/lacteos.svg"
    },
    SULFITOS: {
        name: "pescado",
        img: "/public/sulfitos.svg"
    },
    GLUTEN: {
        name: "gluten",
        img: "/public/gluten.svg"
    },
}

const INFO = {
    DISH_1: {
        cals: "calories",
        amount_cals: "733",
        prote: "protein",
        amount_prote: "40",
        carbs: "carbs",
        amount_carbs: "39",
        fats: "fats",
        amount_fats: "28"
    },
    DISH_2: {
        cals: "calories",
        amount_cals: "513",
        prote: "protein",
        amount_prote: "37",
        carbs: "carbs",
        amount_carbs: "31",
        fats: "fats",
        amount_fats: "25"
    },
    DISH_3: {
        cals: "calories",
        amount_cals: "751",
        prote: "protein",
        amount_prote: "55",
        carbs: "carbs",
        amount_carbs: "124",
        fats: "fats",
        amount_fats: "17"
    },
    DISH_4: {
        cals: "calories",
        amount_cals: "792",
        prote: "protein",
        amount_prote: "43",
        carbs: "carbs",
        amount_carbs: "66",
        fats: "fats",
        amount_fats: "30"
    },
    
    
    
}

const DISHES = [
    {
        name: "Solomillo braseado",
        img_url: "/public/solomillo-salsa-higos-knoweats.webp",
        img_url_hover : "/public/Solomillo-salsa-de-higos-knoweats_hover.webp",
        weight: "450g",
        price: "7,95€",
        type: "equilibrado",
        indications: [INDICATIONS.APIO, INDICATIONS.FRUTOS_SECOS],
        info: [INFO.DISH_1]
        
    },
    {
        name: "Salmón con salsa al cava",
        img_url: "/public/salmon-al-cava-knoweats.webp",
        img_url_hover : "/public/salmoncava_hover.webp",
        weight: "450g",
        price: "8,95€",
        type: "equilibrado",
        indications: [INDICATIONS.PESCADO, INDICATIONS.CRUSTACEOS, INDICATIONS.MOLUSCOS, 
        INDICATIONS.APIO, INDICATIONS.LACTEOS, INDICATIONS.SULFITOS],
        info: [INFO.DISH_2]
    },
    {
        name: "Arroz de costillas y setas",
        img_url: "/public/arroz-costilla-setas-knoweats.webp",
        img_url_hover : "/public/arroz-costilla-setas_hover.webp",
        weight: "420g",
        price: "6,95€",
        type: "",
        indications: [INDICATIONS.APIO],
        info: [INFO.DISH_3]
        
    },
    {
        name: "Lasaña boloñesa",
        img_url: "/public/lasanya-bolonyesa-knoweats.webp",
        img_url_hover : "/public/lasanabolonesa_hover.webp",
        weight: "450g",
        price: "7,25€",
        type: "",
        indications: [INDICATIONS.GLUTEN, INDICATIONS.SULFITOS, INDICATIONS.LACTEOS],
        info: [INFO.DISH_4]
        
    }
]

---

<section class="flex flex-col w-5/6 ml-16">
    <header class="flex justify-center items-center mt-4">
        <h2 class="font-bold text-black text-5xl">Tienes que probar</h2>
    </header>
    <article class="flex-row w-5/6 mx-auto grid grid-cols-4 mt-6 gap-x-4">
        {
            DISHES.map(({name, img_url, img_url_hover, weight, price, indications, info, type}) =>(
                <div class="w-full col-span-1 rounded-xl bg-[#F5F6F9]">
                    <div id="image-container" class="flex flex-col justify-between">
                        <span class="flex rounded-full font-['Fraunces'] bg-[#d8b47c] text-white font-bold text-xl ml-[140px] mt-3 px-4 z-10 absolute">{type}</span>
                        <img class=" rounded-t-xl w-full h-[300px] relative block opacity-100 transition-opacity duration-300" src={img_url} alt={name}/>
                        <img class=" rounded-t-xl lg:w-[320px] h-[300px] md:w-[285px] absolute block opacity-0 hover:opacity-100 transition-opacity duration-300" src={img_url_hover} alt={name}/>
                        <span class="rounded-full bg-black text-white font-bold text-xs px-4 mt-[265px] ml-2 py-1 z-10 absolute block ">AGOTADO</span>
                    </div>
                    <h5 class="font-bold w-full  text-black text-[1.2rem] mt-3 ml-4">{name}</h5>
                    <div class="flex mt-2 mr-4 justify-between">
                        <div class="flex justify-start ml-3">
                            <span class="text-sm text-gray-400">({weight})</span>
                        </div>
                        <div class="flex justify-end gap-x-1">
                        {
                            indications.map((indication) =>(
                                
                                 <img class="size-6" src={indication.img} alt={indication.name}>
                            ))
                        }
                        </div>
                    </div>
                    <h5 class="font-bold w-full mr-5 text-black text-[1.2rem] mt-3 ml-4">{price}</h5>
                    <div class="flex flex-row rounded-full w-11/12 justify-center bg-[#fff] mx-auto mt-3">
                        <ul class="flex flex-row justify-center my-1 w-full">
                        {
                            info.map((inf)=>(
                                <div class="flex flex-col items-center mx-2">
                                    <li class="text-black text-sm">{inf.amount_cals}</li>
                                    <li class="text-[11px] text-gray-400">{inf.cals}</li>
                                </div>
                                <div class="flex flex-col items-center mx-2">
                                    <li class="text-black text-sm">{inf.amount_prote}</li>
                                    <li class="text-[11px] text-gray-400">{inf.prote}</li>
                                </div>
                                <div class="flex flex-col items-center mx-2">
                                    <li class="text-sm  text-black">{inf.amount_carbs}</li>
                                    <li class="text-[11px]  text-gray-400">{inf.carbs}</li>
                                </div>
                                <div class="flex flex-col items-center mx-2">
                                    <li class="text-sm  text-black">{inf.amount_fats}</li>
                                    <li class="text-[11px] text-gray-400">{inf.fats}</li>
                                </div>
                               
                                
                            ))
                        }
                        </ul> 
                    </div>
                    <div class="flex justify-center mt-3 mb-2">
                        <button class="w-11/12 rounded-full opacity-45 bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-lg font-bold p-1 inline-block">AGOTADO</p></button>
                    </div> 
                </div>
            ))
        }
    </article>
    <footer class="flex justify-center items-center mt-10">
        <button class="w-60 rounded-md bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-xl font-bold p-4 inline-block">VER TODOS</p></button>
    </footer>
</section>

