---
const INDICATIONS = {
    APIO: {
        name: "apio",
        img: "/public/apio.svg"
    },
    FRUTOS_SECOS: {
        name: "frutos secos",
        img: "/public/frutos-secos-cascara.svg"
    },
    PESCADO: {
        name: "pescado",
        img: "/public/pescado.svg"
    },
    CRUSTACEOS: {
        name: "pescado",
        img: "/public/crustaceos.svg"
    },
    MOLUSCOS: {
        name: "moluscos",
        img: "/public/moluscos.svg"
    },
    LACTEOS: {
        name: "lacteos",
        img: "/public/lacteos.svg"
    },
    SULFITOS: {
        name: "pescado",
        img: "/public/sulfitos.svg"
    },
    GLUTEN: {
        name: "gluten",
        img: "/public/gluten.svg"
    },
}

const INFO = {
    DISH_1: {
        name: "calories",
        amount: "733",
        name: "protein",
        amount: "40",
        name: "carbs",
        amount: "39",
        name: "fats",
        amount: "28"
    },
    DISH_2: {
        name: "calories",
        amount: "513",
        name: "protein",
        amount: "37",
        name: "carbs",
        amount: "31",
        name: "fats",
        amount: "25"
    },
    DISH_3: {
        name: "calories",
        amount: "751",
        name: "protein",
        amount: "55",
        name: "carbs",
        amount: "124",
        name: "fats",
        amount: "17"
    },
    DISH_4: {
        name: "calories",
        amount: "792",
        name: "protein",
        amount: "43",
        name: "carbs",
        amount: "66",
        name: "fats",
        amount: "30"
    },
    
    
    
}

const DISHES = [
    {
        name: "Solomillo braseado",
        img_url: "/public/solomillo-salsa-higos-knoweats.webp",
        img_url_hover : "/public/Solomillo-salsa-de-higos-knoweats_hover.webp",
        weight: "450g",
        price: "7,95€",
        type: "equilibrado",
        indications: [INDICATIONS.APIO, INDICATIONS.FRUTOS_SECOS],
        info: [INFO.DISH_1]
        
    },
    {
        name: "Salmón con salsa al cava",
        img_url: "/public/salmon-al-cava-knoweats.webp",
        img_url_hover : "/public/salmoncava_hover.webp",
        weight: "450g",
        price: "8,95€",
        type: "equilibrado",
        indications: [INDICATIONS.PESCADO, INDICATIONS.CRUSTACEOS, INDICATIONS.MOLUSCOS, 
        INDICATIONS.APIO, INDICATIONS.LACTEOS, INDICATIONS.SULFITOS],
        info: [INFO.DISH_2]
    },
    {
        name: "Arroz de costillas y setas",
        img_url: "/public/arroz-costilla-setas-knoweats.webp",
        img_url_hover : "/public/arroz-costilla-setas_hover.webp",
        weight: "420g",
        price: "6,95€",
        type: "",
        indications: [INDICATIONS.APIO],
        info: [INFO.DISH_3]
        
    },
    {
        name: "Lasaña boloñesa",
        img_url: "/public/lasanya-bolonyesa-knoweats.webp",
        img_url_hover : "/public/lasanabolonesa_hover.webp",
        weight: "450g",
        price: "7,25€",
        type: "",
        indications: [INDICATIONS.GLUTEN, INDICATIONS.SULFITOS, INDICATIONS.LACTEOS],
        info: [INFO.DISH_4]
        
    }
]

---

<section class="flex flex-col w-5/6 ml-16">
    <header class="flex justify-center items-center mt-4">
        <h2 class="font-bold text-black text-5xl">Tienes que probar</h2>
    </header>
    <article class="flex-row w-5/6 mx-auto grid grid-cols-4 mt-6 gap-x-4">
        {
            DISHES.map(({name, img_url, img_url_hover, weight, price, indications, info}) =>(
                <div class="w-full col-span-1 rounded-xl bg-[#F5F6F9]">
                    <img class="bg-foo hover:bg-bar rounded-t-xl w-full h-[300px]" src={img_url} alt={name}/>
                    <h5 class="font-bold w-full  text-black text-[1.2rem] mt-3 ml-4">{name}</h5>
                    <div class="flex mt-2 mr-4 justify-between">
                        <div class="flex justify-start ml-3">
                            <span class="text-sm text-gray-400">({weight})</span>
                        </div>
                        <div class="flex justify-end gap-x-1">
                        {
                            indications.map((indication) =>(
                                
                                 <img class="size-6" src={indication.img} alt={indication.name}>
                            ))
                        }
                        </div>
                    </div>
                    <h5 class="font-bold w-full mr-5 text-black text-[1.2rem] mt-3 ml-4">{price}</h5>
                    <div class="flex flex-row rounded-full w-5/6 justify-center bg-[#fff] mx-auto mt-3 gap-x-1">
                        <ul class="flex mx-2 my-2 w-full">
                        {
                            info.map((inf)=>(
                               
                                    <li class="text-black text-sm">{inf.amount}</li>
                                    <li class="text-xs font-thin text-gray-400">{inf.name}</li>
                                
                            ))
                        }
                        </ul> 
                    </div>
                    <div class="flex justify-center mt-3 mb-4">
                        <button class="w-11/12 rounded-full opacity-45 bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-lg font-bold p-1 inline-block">AGOTADO</p></button>
                    </div> 
                </div>
            ))
        }
    </article>
    <footer class="flex justify-center items-center my-10">
        <button class="w-60 rounded-md bg-[#FF9933] hover:animate-heartbeat"><p class="text-white text-xl font-bold p-4 inline-block">VER TODOS</p></button>
    </footer>
</section>

<style>
    .bg-foo{
        background: url(img_url);
    }
    .bg-bar:hover {
        background: url(img_url_hover);
    }
</style>